:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

#root{
  --buttonBG : rgba(255, 255, 255, 0.4);
  --greyBG : rgba(255, 255, 255, 0.4);
  --greyBG-02 : rgba(255, 255, 255, 0.2);
}

*{
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: none;
  display: block;
  color: #ffffff;
}

a:hover {
  cursor: pointer;
}

button{
  cursor: pointer;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 120px 80px;
  position: relative;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 80px;
  height: 80px;
}

select{
  width: 200px;
}

h1 {
  font-size: 3.2em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  font-size: 1em;
}

tr{
  padding-bottom: 20px;
  height: 60px;
}

th{
  text-align: left;
  vertical-align: top;
}

td{
  vertical-align: top;
  height: 30px;
}

img{
  width: 100%;
}

option{
  padding: 10px;
}

button{
  padding: 10px 20px;
  background-color: var(--greyBG-02);
  border: none;
  border-radius: 3px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
